[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
japanize-matplotlib = "*"
kaggle = "*"
python-language-server = "*"
pyls = "*"
jupyter = "*"
ipdb = "*"
flake8 = "*"
pylint = "*"
ipykernel = "*"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
lightgbm = "*"
xgboost = "==0.90"
catboost = "*"
pandas-profiling = "*"
tensorflow = "*"
keras = "*"
hyperopt = "*"
rgf-python = "*"
umap-learn = "*"
scipy = "*"
scikit-learn = "*"
tqdm = "*"
shap = "*"
numba = "*"
h5py = "*"
fastai = "*"
pytz = "*"
torch = "*"
googletrans = "*"
google-cloud-storage = "*"
python-dotenv = "*"
optuna = "*"
google-cloud-bigquery = "*"
requests = "*"
xlwt = "*"
openpyxl = "*"
pandas-gbq = "*"

[requires]
python_version = "3.7.6"
